itv-development-data-factory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "itv-development-data-factory"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=@{linkedService().greatDevVar};Initial Catalog=trainingdb;User ID=testDevOps;Password=@{linkedService().greatDevVar}"
		},
		"DataLakeStorageLinkedService_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DataLakeStorageLinkedService'"
		},
		"FileServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'FileServer1'"
		},
		"sandbox_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sandbox_db'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=itv-development-server.database.windows.net;Initial Catalog=itv-development-db;User ID=MattA;Password=@{linkedService().hellooooDev}"
		},
		"default_properties_testDevGlobalParam_value": {
			"type": "string",
			"defaultValue": "dev"
		},
		"DataLakeStorageLinkedService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dataflowtest32245.dfs.core.windows.net/"
		},
		"Field_api_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://itventuresandbox.dealcloud.eu/api/rest/v4/schema/entrytypes/ADVWRKSProductCategory_1/fields"
		},
		"FileServer1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\MatthewCannon\\OneDrive - IT-Venture Ltd\\Documents"
		},
		"FileServer1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "mattycannon"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/globalparameters",
			"apiVersion": "2018-06-01",
			"properties": {
				"testDevGlobalParam": {
					"type": "string",
					"value": "[parameters('default_properties_testDevGlobalParam_value')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/function')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sub pipeline 1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "test monitor"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sub pipeline 2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "test monitor"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sub pipeline 3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "test monitor"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 65
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"greatDevVar": {
						"type": "string",
						"defaultValue": "Dev"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataLakeStorageLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DataLakeStorageLinkedService_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DataLakeStorageLinkedService_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Field_api')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Field_api_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('FileServer1_properties_typeProperties_host')]",
					"userId": "[parameters('FileServer1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('FileServer1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sandbox_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"hellooooDev": {
						"type": "string",
						"defaultValue": "Dev"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sandbox_db_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MA-Dealcloud Pull')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Bearer",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://itventuresandbox.dealcloud.eu/api/rest/v1/oauth/token",
							"method": "POST",
							"headers": {
								"Authorization": "Basic MTc0Nzc6ejZSVHNYdUx3dkZELU9YeTd4aVg3ZG1lTGVRZmR4bU4zLUJUWE1SQkVCdzE=",
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "scope=data&grant_type=client_credentials"
						}
					},
					{
						"name": "Get Entries",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get Bearer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://itventuresandbox.dealcloud.eu/api/rest/v4/data/entrydata/ConnectCustomer/entries/history",
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ', string(activity('Get Bearer').output.access_token))",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Get Fields",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get Bearer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://itventuresandbox.dealcloud.eu/api/rest/v4/schema/entrytypes/Fund/fields",
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ', string(activity('Get Bearer').output.access_token))",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Fields import",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get Fields",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SPMattA].[FieldIDimport]",
							"storedProcedureParameters": {
								"Response": {
									"value": {
										"value": "@activity('Get Fields').output.Response",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sandbox_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Entries import",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get Entries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SPMattA].[EntryIDimport]",
							"storedProcedureParameters": {
								"Response": {
									"value": {
										"value": "@activity('Get Entries').output.Response",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sandbox_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Payload Select",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Fields import",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Entries import",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "sandbox_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "select fieldId, entryId\nfrom MattA.FieldIDs\ncross join MattA.EntryIDs;"
								}
							]
						}
					},
					{
						"name": "Data pull",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Payload Select",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://itventuresandbox.dealcloud.eu/api/rest/v4/data/entrydata/get?resolveReferenceUrl=true&fillExtendedData=true",
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ', string(activity('Get Bearer').output.access_token))",
									"type": "Expression"
								}
							},
							"body": {
								"value": "@activity('Payload Select').output.resultSets[0].rows",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Data dump",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Data pull",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SPMattA].[StagingImport]",
							"storedProcedureParameters": {
								"Response": {
									"value": {
										"value": "@activity('Data pull').output.Response",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sandbox_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Data pull",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "contentLength",
							"value": {
								"value": "@activity('Data pull').output.ADFWebActivityResponseHeaders.Content-Length",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"contentLength": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-13T12:01:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sandbox_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/orch')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sub pipeline 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "sub pipeline 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "sub pipeline 1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "sub pipeline 2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "sub pipeline 2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "sub pipeline 3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "sub pipeline 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "sub pipeline 3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "test monitor"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/sub pipeline 1')]",
				"[concat(variables('factoryId'), '/pipelines/sub pipeline 2')]",
				"[concat(variables('factoryId'), '/pipelines/sub pipeline 3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference",
					"parameters": {
						"greatDevVar": {
							"value": "@dataset().new",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"new": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().new",
						"type": "Expression"
					},
					"table": "tttt"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BenefitPlanEmployeeExcel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLakeStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Benefits_plan_employee",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Benefits plan employee Demo.xlsx",
						"fileSystem": "data"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "PERSONNELNUMBER",
						"type": "String"
					},
					{
						"name": "PLANPERIODID",
						"type": "String"
					},
					{
						"name": "PLANID",
						"type": "String"
					},
					{
						"name": "COVERAGEOPTIONID",
						"type": "String"
					},
					{
						"name": "VALIDFROM",
						"type": "String"
					},
					{
						"name": "VALIDTO",
						"type": "String"
					},
					{
						"name": "ADMINISTRATIVESTARTDATETIME",
						"type": "String"
					},
					{
						"name": "AMOUNTADMIN",
						"type": "String"
					},
					{
						"name": "AMOUNTEMPLOYEE",
						"type": "String"
					},
					{
						"name": "AMOUNTEMPLOYER",
						"type": "String"
					},
					{
						"name": "ANNUALCONTRIBUTION",
						"type": "String"
					},
					{
						"name": "BUNDLEDID",
						"type": "String"
					},
					{
						"name": "BUNDLEMASTER",
						"type": "String"
					},
					{
						"name": "CANCELLATION",
						"type": "String"
					},
					{
						"name": "CANCELLATIONBY",
						"type": "String"
					},
					{
						"name": "CANCELLATIONDATETIME",
						"type": "String"
					},
					{
						"name": "CANCELREASONCODEID",
						"type": "String"
					},
					{
						"name": "COVERAGEAMOUNT",
						"type": "String"
					},
					{
						"name": "COVERAGECODE",
						"type": "String"
					},
					{
						"name": "COVERAGEENDDATETIME",
						"type": "String"
					},
					{
						"name": "COVERAGESTARTDATETIME",
						"type": "String"
					},
					{
						"name": "CREDITAPPLIEDVALUE",
						"type": "String"
					},
					{
						"name": "CREDITHASRATE",
						"type": "String"
					},
					{
						"name": "CREDITLIFEEVENTOPENALLOCATION",
						"type": "String"
					},
					{
						"name": "CREDITLIFEEVENTPREVENTADDALLOCATION",
						"type": "String"
					},
					{
						"name": "CREDITLIFEEVENTPREVENTSUBALLOCATION",
						"type": "String"
					},
					{
						"name": "DEDUCTIONENDDATETIME",
						"type": "String"
					},
					{
						"name": "DEDUCTIONSTARTDATETIME",
						"type": "String"
					},
					{
						"name": "DEFAULTOPTION",
						"type": "String"
					},
					{
						"name": "ENROLLMENTCONFIRMED",
						"type": "String"
					},
					{
						"name": "ENROLLMENTCONFIRMEDBY",
						"type": "String"
					},
					{
						"name": "ENROLLMENTCONFIRMEDDATETIME",
						"type": "String"
					},
					{
						"name": "ENROLLMENTSTARTDATETIME",
						"type": "String"
					},
					{
						"name": "ESSCHECKEDOUT",
						"type": "String"
					},
					{
						"name": "LEGALENTITYID",
						"type": "String"
					},
					{
						"name": "LIFEEVENT",
						"type": "String"
					},
					{
						"name": "LIFEEVENTALLOWCANCELLATION",
						"type": "String"
					},
					{
						"name": "LIFEEVENTALLOWCANCELLATIONPREV",
						"type": "String"
					},
					{
						"name": "LIFEEVENTAUTOCANCELPLAN",
						"type": "String"
					},
					{
						"name": "LIFEEVENTAUTOCANCELPLANPREV",
						"type": "String"
					},
					{
						"name": "LIFEEVENTAUTOREOPENELIGIBILITY",
						"type": "String"
					},
					{
						"name": "LIFEEVENTAUTOREOPENELIGIBILITYPREV",
						"type": "String"
					},
					{
						"name": "LIFEEVENTCHANGECOVERAGE",
						"type": "String"
					},
					{
						"name": "LIFEEVENTCHANGECOVERAGEPREV",
						"type": "String"
					},
					{
						"name": "LIFEEVENTCHANGETONEWPLAN",
						"type": "String"
					},
					{
						"name": "LIFEEVENTCHANGETONEWPLANPREV",
						"type": "String"
					},
					{
						"name": "LIFEEVENTPREV",
						"type": "String"
					},
					{
						"name": "LIFEEVENTREPORTINGWINDOW",
						"type": "String"
					},
					{
						"name": "LIFEEVENTREPORTINGWINDOWPREV",
						"type": "String"
					},
					{
						"name": "LIFEEVENTTYPES",
						"type": "String"
					},
					{
						"name": "PAYPERIOD",
						"type": "String"
					},
					{
						"name": "PERCENTAGE",
						"type": "String"
					},
					{
						"name": "PERIODEMPLOYEENAME",
						"type": "String"
					},
					{
						"name": "PLANDESCRIPTION",
						"type": "String"
					},
					{
						"name": "PLANTYPECODE",
						"type": "String"
					},
					{
						"name": "PLANTYPEDESIGNEETYPE",
						"type": "String"
					},
					{
						"name": "PLANTYPEID",
						"type": "String"
					},
					{
						"name": "PROGRAMID",
						"type": "String"
					},
					{
						"name": "REASONCODEID",
						"type": "String"
					},
					{
						"name": "REOPENREASONCODEID",
						"type": "String"
					},
					{
						"name": "STATUS",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLakeStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BenefitsCoverageOptionExcel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLakeStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Benefits_coverage_option_perso",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Benefits coverage option personal contacts eligbility option Demo.xlsx",
						"fileSystem": "data"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "COVERAGEOPTIONID",
						"type": "String"
					},
					{
						"name": "PERSONALCONTACTSELIGIBILITYOPTIONID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLakeStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLakeStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "data - Copy.csv",
						"folderPath": "am_error_log/input",
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Types",
						"type": "String"
					},
					{
						"name": "TextYearAndQuart",
						"type": "String"
					},
					{
						"name": "ShortDate",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLakeStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLakeStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "output.csv",
						"folderPath": "am_error_log",
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLakeStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmploymentV2Excel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLakeStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Employment_V2",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Employment V2 Demo.xlsx",
						"fileSystem": "data"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "PERSONNELNUMBER",
						"type": "String"
					},
					{
						"name": "LEGALENTITYID",
						"type": "String"
					},
					{
						"name": "EMPLOYMENTID",
						"type": "String"
					},
					{
						"name": "CALENDARID",
						"type": "String"
					},
					{
						"name": "DIMENSIONDISPLAYVALUE",
						"type": "String"
					},
					{
						"name": "EMPLOYMENTENDDATE",
						"type": "String"
					},
					{
						"name": "EMPLOYMENTSTARTDATE",
						"type": "String"
					},
					{
						"name": "REGULATORYESTABLISHMENTID",
						"type": "String"
					},
					{
						"name": "WORKERTYPE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLakeStorageLinkedService')]"
			]
		}
	]
}